@import "../Vars.scss";

.player {
  text-align: center;
}
video {
  width: 80%;
  object-fit: cover;
}
.player__info {
  text-align: initial;
  padding: 0 10%;
}
.player__title--main {
  margin: 20px 0 10px;
  font-size: 2.4rem;
  font-weight: bold;
  color: $white;
}
.player__title--year {
  font-size: 2rem;
  font-weight: bold;
  color: $white;
}
.player__about--title {
  width: 100%;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: $white;
}
.player__info--description {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: $white;
}
.player__about {
  display: flex;
  list-style-type: none;
  font-size: 1.5rem;
  color: $white;
}
.player__about--info {
  margin-bottom: 10px;
  margin-right: 30px;
}
