:root {
  --trypan-blue: #480CA8;
  --mountain-meadow: #21C08B;
  --white: #FFFFFF;
  --regular: 1.3rem;
  --title: 2.4rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(var(--mountain-meadow), var(--trypan-blue));
  background-repeat: no-repeat;
}

/* ------------- */
/* Header Styles */
/* ------------- */
.header {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  font-size: var(--regular);
  font-weight: 700;
}
.header__img {
  height: 80px;
  margin-left: 20px;
}
.header__menu {
  margin-right: 20px;
}
.header__menu--profile {
  display: flex;
  align-items: center;
  margin: 10px;
  color: var(--white);
}
.header__menu--profile img {
  margin-right: 10px;
}
.header__menu ul {
  position: absolute;
  display: none;
  width: 100px;
  margin: 0px;
  padding: 0;
  list-style: none;
  text-align: right;
}
.header__menu li {
  margin: 10px 0px;
}
.header__menu li a {
  text-decoration: none;
  color: var(--white);
}
.header__menu li a:hover {
  text-decoration: underline;
}
.header__menu:hover ul, ul:hover {
  display: block;
}

/* ----------- */
/* Main Styles */
/* ----------- */
.main {
  width: 100%;
  text-align: center;
}
.main__title {
  margin: 20px;
  font-size: var(--title);
  color: var(--white);
}
.input {
  height: 50px;
  width: 85%;
  padding: 0px 20px;
  border: 2px solid var(--white);
  border-radius: 30px;
  outline: none;
  font-size: var(--regular);
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  transition: 450ms;
}
.input::placeholder {
  color: var(--white);
}
.input:hover {
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
}
.input:focus {
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
}

.carousel {
  position: relative;
  width: 100%;
  padding: 30px;
  overflow-x: scroll;
}
.carousel__title {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
}
.carousel__container {
  margin: 70px 0px;
  padding-bottom: 10px;
  white-space: nowrap;
}
.carousel-item {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 250px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: var(--white);
  overflow: hidden;
  cursor: pointer;
  transition: 450ms;
  transform-origin: center left;
}
.carousel-item__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item {
  opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}
.carousel-item__details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  font-size: 1.2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  transition: 450ms opacity;
}
.carousel-item__details:hover {
  opacity: 1;
}
.carousel-item__details--icon {
  width: 25px;
  height: 25px;
}
.carousel-item__details p {
  color: var(--white);
}
.carousel-item__details--title {
  font-weight: 700;
}
.carousel::-webkit-scrollbar {
  background:transparent;
}

/* ------------------------- */
/* Login and Register Styles */
/* ------------------------- */
.login {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}
.login__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 450px;
  min-height: 600px;
  padding: 60px 60px 40px;
  border: 2px solid var(--white);
  border-radius: 40px;
  font-size: var(--regular);
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
}
.login__container h2 {
  margin-bottom: 20px;
  font-size: var(--title);
  text-align: center;
}
.login__container--form {
  display: flex;
  flex-direction: column;
}
.login__container--form input {
  margin-bottom: 20px;
}
.login__container--form .login-input {
  height: 50px;
  padding-left: 10px;
  border: 0;
  border-bottom: 2px solid var(--white);
  color: var(--white);
  outline: none;
  background-color: transparent;
}
.login__container--form .button {
  height: 50px;
  margin-bottom: 20px;
  padding: 0px 20px;
  border: none;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.3);
}
.login__container--form .login-input::placeholder {
  color: var(--white);
}
.login__container--remember-me {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: var(--white);
}
.login__container a {
  color: var(--white);
  text-decoration: none;
}
.login__container a:hover {
  text-decoration: underline;
}
.login__container--social-media {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.login__container--social-media > div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.login__container--social-media > div > img {
  height: 35px;
  margin-right: 10px;
}
.login__container--register {
  text-align: center;
}
.login__container--register a {
  font-size: 1.5rem;
  font-weight: 700;
}

/* ------------- */
/* Footer Styles */
/* ------------- */
.footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 21px;
}
.footer a {
  padding-left: 25px;
  font-size: var(--regular);
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}
.footer a:hover {
  text-decoration: underline;
}

/* ------------------------- */
/* 404 Page Not Found Styles */
/* ------------------------- */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
.not-found__img {
  height: 500px;
  animation: float 3s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.not-found__title {
  font-size: 3.5rem;
  letter-spacing: 1px;
  color: var(--white);
  animation: float 3s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
}
