@import url(https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap);

$theme-font: "Mulish", sans-serif;
$trypan-blue: #480ca8;
$mountain-meadow: #21c08b;
$white: #ffffff;
$regular: 1.3rem;
$title: 2.4rem;
