@import "../Vars.scss";

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
.not-found__img {
  height: 500px;
  animation: float 3s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.not-found__title {
  font-size: 3.5rem;
  letter-spacing: 1px;
  color: $white;
  animation: float 3s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
}
