@media only screen and (max-width: 500px) {
  // HEADER
  .App .header {
    margin: 20px 0 50px
  }
  .header .header__img {
    height: 65px;
  }
  .header__menu--profile {
    margin: 0;
  }
  .header__menu .header__menu--profile img {
    margin: 0;
  }
  .header__menu--profile p {
    display: none;
  }
  .header .header__menu ul {
    width: auto;
    margin-left: 10px;
    text-align: center;
  }
  // LOGIN
  .login .login__container {
    width: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
  .login__container--social-media {
    margin: 20px 0;
  }
  // 404 NOT FOUND
  .not-found__img {
    height: auto;
    width: 90%;
  }
  // PLAYER
  .player video {
    width: 100%;
  }
  .player__info .player__about {
    display: inline-block;
  }
  // FOOTER
  .footer {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .footer .footer--link {
    padding: 0;
  }
}
