@media only screen and (max-width: 500px) {
  // HEADER
  .header__img {
    height: 60px;
  }
  .header__menu--profile {
    margin: 0;
  }
  .header__menu--profile img {
    margin: 0;
  }
  .header__menu--profile p {
    display: none;
  }
  // LOGIN
  .login__container {
    width: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
  .login__container--social-media {
    margin: 20px 0;
  }
  // 404 NOT FOUND 
  .not-found__img {
    height: auto;
    width: 90%;
  }
  // PLAYER
  video {
    width: 100%;
  }
  .player__about {
    display: inline-block;
  }
  // FOOTER
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
